/.vs/DattingApp/config/applicationhost.config
/.vs/DattingApp/DesignTimeBuild/.dtbcache.v2
/.vs/DattingApp/FileContentIndex/20b05c54-c474-46de-86c4-634be333a735.vsidx
/.vs/DattingApp/FileContentIndex/2a6b7aeb-ef2f-4587-b41c-db88279b3860.vsidx
/.vs/DattingApp/FileContentIndex/5ad77354-1eb1-43e6-b1dc-95560e25e4c5.vsidx
/.vs/DattingApp/FileContentIndex/9be46768-7db9-45d1-b0eb-4d521c42799e.vsidx
/.vs/DattingApp/FileContentIndex/d0f83f18-81d4-48be-a425-a9d65dc3107a.vsidx
/.vs/DattingApp/v17/.futdcache.v2
/.vs/DattingApp/v17/.suo
/.vs/DattingApp/v17/DocumentLayout.backup.json
/.vs/DattingApp/v17/DocumentLayout.json
/.vs/DattingApp/v17/TestStore/0/000.testlog
/.vs/DattingApp/v17/TestStore/0/testlog.manifest
/.vs/DattingApp/v17/TestStore/1/000.testlog
/.vs/DattingApp/v17/TestStore/1/testlog.manifest
/.vs/LearningApp/config/applicationhost.config
/.vs/LearningApp/DesignTimeBuild/.dtbcache.v2
/.vs/LearningApp/FileContentIndex/02c0f3a2-2766-49c6-b5af-183e4e1b8b6b.vsidx
/.vs/LearningApp/FileContentIndex/1f72a6f5-5bdc-48a1-b76a-4ba2273078ed.vsidx
/.vs/LearningApp/FileContentIndex/8e21f8b0-337d-48e9-90cd-f2562dc28e08.vsidx
/.vs/LearningApp/FileContentIndex/b3f5fee7-7268-4b23-99fb-fb967853d6f6.vsidx
/.vs/LearningApp/FileContentIndex/c63c7669-0547-419a-9a6d-e2cd9d1da42c.vsidx
/.vs/LearningApp/v17/.futdcache.v2
/.vs/LearningApp/v17/.suo
/.vs/LearningApp/v17/DocumentLayout.backup.json
/.vs/LearningApp/v17/DocumentLayout.json
/.vs/ProjectEvaluation/dattingapp.metadata.v9.bin
/.vs/ProjectEvaluation/dattingapp.projects.v9.bin
/.vs/ProjectEvaluation/dattingapp.strings.v9.bin
/API/.vs/API/config/applicationhost.config
/API/.vs/API/DesignTimeBuild/.dtbcache.v2
/API/.vs/API/FileContentIndex/3a2bdb4a-1c41-488e-9302-b51653f03f70.vsidx
/API/.vs/API/FileContentIndex/4a78cfe5-35a4-4853-b82c-7f06f795f74f.vsidx
/API/.vs/API/FileContentIndex/4abe1420-f599-4dda-860d-81744a7b5837.vsidx
/API/.vs/API/FileContentIndex/7f369cd8-60e1-45e1-a702-58ebc4469bfb.vsidx
/API/.vs/API/FileContentIndex/86ce94ee-7e04-47a5-955f-5a47b174d744.vsidx
/API/.vs/API/FileContentIndex/a7601c2a-73d1-4600-ab41-7e81f248b8f4.vsidx
/API/.vs/API/FileContentIndex/b21fe88d-201e-43d8-a806-e91cc3d80aff.vsidx
/API/.vs/API/FileContentIndex/bd1eba37-5ea6-41fb-89d1-795a2391431a.vsidx
/API/.vs/API/FileContentIndex/ceac34e8-912d-451a-ae81-1c9018050eba.vsidx
/API/.vs/API/FileContentIndex/dd05d6ed-b078-4703-bc92-02bef2b687c1.vsidx
/API/.vs/API/v17/.futdcache.v2
/API/.vs/API/v17/.suo
/API/.vs/API/v17/DocumentLayout.backup.json
/API/.vs/API/v17/DocumentLayout.json
/API/.vs/ProjectEvaluation/api.metadata.v9.bin
/API/.vs/ProjectEvaluation/api.projects.v9.bin
/API/.vs/ProjectEvaluation/api.strings.v9.bin
/API/API.csproj
/API/API.csproj.user
/API/appsettings.json
/API/bin/Debug/net8.0/API.deps.json
/API/bin/Debug/net8.0/API.dll
/API/bin/Debug/net8.0/API.exe
/API/bin/Debug/net8.0/API.pdb
/API/bin/Debug/net8.0/appsettings.json
/API/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/API/.vs/API/config/applicationhost.config
/API/.vs/API/DesignTimeBuild/.dtbcache.v2
/API/.vs/API/FileContentIndex/4a78cfe5-35a4-4853-b82c-7f06f795f74f.vsidx
/API/.vs/API/FileContentIndex/4abe1420-f599-4dda-860d-81744a7b5837.vsidx
/API/.vs/API/FileContentIndex/7f369cd8-60e1-45e1-a702-58ebc4469bfb.vsidx
/API/.vs/API/FileContentIndex/86ce94ee-7e04-47a5-955f-5a47b174d744.vsidx
/API/.vs/API/FileContentIndex/b21fe88d-201e-43d8-a806-e91cc3d80aff.vsidx
/API/.vs/API/v17/.suo
/API/.vs/API/v17/DocumentLayout.json
/API/API.csproj
/API/API.csproj.user
/API/bin/Debug/net8.0/API.deps.json
/API/bin/Debug/net8.0/API.dll
/API/bin/Debug/net8.0/API.exe
/API/bin/Debug/net8.0/API.pdb
/API/obj/API.csproj.nuget.dgspec.json
/API/obj/API.csproj.nuget.g.props
/API/obj/Debug/net8.0/API.AssemblyInfo.cs
/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
/API/obj/Debug/net8.0/API.assets.cache
/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
/API/obj/Debug/net8.0/API.csproj.BuildWithSkipAnalyzers
/API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
/API/obj/Debug/net8.0/API.csproj.FileListAbsolute.txt
/API/obj/Debug/net8.0/API.dll
/API/obj/Debug/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
/API/obj/Debug/net8.0/API.genruntimeconfig.cache
/API/obj/Debug/net8.0/API.pdb
/API/obj/Debug/net8.0/API.sourcelink.json
/API/obj/Debug/net8.0/ApiEndpoints.json
/API/obj/Debug/net8.0/apphost.exe
/API/obj/Debug/net8.0/ref/API.dll
/API/obj/Debug/net8.0/refint/API.dll
/API/obj/project.assets.json
/API/obj/project.nuget.cache
/.vs/LearningApp/FileContentIndex/0de95c00-1dc5-490c-a05d-8fe7f114b89a.vsidx
/API/bin/Debug/net8.0/API.dll
/.vs/LearningApp/FileContentIndex/0f5b7f71-cd6d-409e-b222-c68b569eae5f.vsidx
/.vs/LearningApp/FileContentIndex/76dc8715-b04f-4052-ad65-1d7caee7d847.vsidx
/.vs/LearningApp/FileContentIndex/9f8e7226-3ee1-4bb8-aafc-2e5f950d45fc.vsidx
/API/bin/Debug/net8.0/API.deps.json
/API/bin/Debug/net8.0/API.dll
/API/bin/Debug/net8.0/API.exe
/API/bin/Debug/net8.0/API.pdb
/API/bin/Debug/net8.0/appsettings.json
/API/bin/Debug/net8.0/API.dll
/API/bin/Debug/net8.0/API.exe
/API/bin/Debug/net8.0/API.pdb
/API/bin/Debug/net8.0/appsettings.json
/API/obj/API.csproj.nuget.dgspec.json
/API/obj/Debug/net8.0/API.AssemblyInfo.cs
/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
/API/obj/Debug/net8.0/API.assets.cache
/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
/API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
/API/obj/Debug/net8.0/API.csproj.FileListAbsolute.txt
/API/obj/Debug/net8.0/API.dll
/API/obj/Debug/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
/API/obj/Debug/net8.0/API.genruntimeconfig.cache
/API/obj/Debug/net8.0/API.pdb
/API/obj/Debug/net8.0/API.sourcelink.json
/API/obj/Debug/net8.0/apphost.exe
/API/obj/Debug/net8.0/ref/API.dll
/API/obj/Debug/net8.0/refint/API.dll
/API/obj/project.assets.json
/API/obj/project.nuget.cache
